.loader__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loader {
    height: 100px;
    width: 100px;
    background-color: var(--main-color);
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top-color: #333;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}