.taxInvoice__header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem 0;
}

.taxInvoice__header--left {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.taxInvoice__header--title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.0125rem;
}

.taxInvoice__header--left>Input {
    width: 60%;
    height: 2.2rem;
    background-color: #fff;
}

.taxInvoice__header--left .ant-input,
.taxInvoice__header--left .ant-input:hover,
.taxInvoice__header--left .ant-input:focus {
    color: black;
    border-color: #3463AE;
}

.taxInvoice__header--left .ant-input::placeholder {
    color: #3463AE;
    opacity: 0.5;
}

.taxInvoice__header--right {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}

.taxInvoice__header--btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    max-width: 10rem;
    color: #3463AE;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    border: 2px solid #3463AE;
    overflow: hidden;
}

.taxInvoice__header--btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 2.5rem;
    margin-left: 2rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #3463AE;
    overflow: hidden;
}

.table {
    top: 0;
    width: 100%;
    padding: 3rem 3rem 0;
}

td.ant-table-cell {
    padding: 1rem !important;
    background-color: #fff !important;
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.0125rem;
    color: #11142D !important;
}

th.ant-table-cell {
    font-size: 0.8rem !important;
    font-weight: 300 !important;
}

.tax-invoices.action__buttons {
    display: flex;
    justify-content: flex-end !important;
    gap: 0.5rem;
}

.tax-invoices.action__button>span>svg {
    width: 1.2rem !important;
    height: 1.2rem !important;
    color: var(--gray) !important;
}

.tax-invoices.action__button {
    cursor: pointer;
}

.tax-invoices.action__button>img {
    width: 1.2rem;
}

.ant-empty {
    margin: 13rem 0 !important;
}

.ant-empty-image {
    overflow: hidden !important;
}

.taxInvoice__delete--modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete__modal__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.delete__modal__buttons>button {
    display: flex;
    padding: 0.675rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: none;
    color: white;
    cursor: pointer;
}

.delete__modal__buttons #confirm {
    background: #3463AE;
}

.delete__modal__buttons #cancel {
    background: #CB214A;
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.taxInvoice__list--delete--modal .ant-modal-content {
    box-shadow: none !important;
}

.taxInvoice__create--modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 1rem 0;
}

.taxInvoice__modal--btn1 {
    border: 1px solid #3463AE;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.taxInvoice__modal--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.taxInvoice__modal--form>label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 2px dotted #3463AE;
    cursor: pointer;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

#create-tax-file-chosen {
    margin: 0.5rem 0 0 0;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.taxInvoice__modal--btn2{
    border: none;
    background-color: #fff;
    color: #1677ff;
    margin-top: 2rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.taxInvoice__modal--btn2:hover{
    color: #69b1ff;
}