.chat--main {
    width: 100%;
    height: 70vh;
    padding: 0 4rem;
    display: flex;
    margin-top: 1rem;
}

.chat--left {
    width: 30%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    -webkit-border-radius: 1rem 0 0 1rem;
    -moz-border-radius: 1rem 0 0 1rem;
    -ms-border-radius: 1rem 0 0 1rem;
    -o-border-radius: 1rem 0 0 1rem;
}

.chat--left .ant-tabs .ant-tabs-nav {
    padding-left: 1rem;
}

.chat--right {
    width: 70%;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    -webkit-border-radius: 0 1rem 1rem 0;
    -moz-border-radius: 0 1rem 1rem 0;
    -ms-border-radius: 0 1rem 1rem 0;
    -o-border-radius: 0 1rem 1rem 0;
}