.create__payment__header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem 0;
}

.create__payment__header--left {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.create__payment__header--title {
    font-family: 'Work Sans', sans-serif;
    color: #36BAA6;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0625rem;
    padding-left: 0.75rem;
}

.create__payment__header--back-btn {
    width: 1.5rem;
    cursor: pointer;
}

.create__payment__header--right {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}

.create__payment__header--btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    width: 10rem;
    max-width: 10rem;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #3463AE;
    border: 2px solid #3463AE;
    overflow: hidden;
}

.create__payment__header--btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    width: 10rem;
    max-width: 10rem;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    background-color: #3463AE;
}

.payment__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.create__payment--main {
    width: 70%;
    max-width: 60rem;
    margin-top: 4rem;
    background-color: var(--white);
}

.create__payment--top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
}

.create__payment--head {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.payment__form--part1 {
    display: flex;
    flex-direction: column;
}

.payment__form--part1-head {
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
}

.payment__form--head-info1 {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.payment__form--head-info1>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.payment__form--head-info1>span {
    font-size: 0.8rem;
    font-weight: 300;
}

.payment__form--head-info2 {
    display: flex;
    flex-direction: column;
}

.payment__form--head-info2-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
}

.payment__form--head-info2-data>span {
    font-size: 0.8rem;
    font-weight: 300;
}

.payment__form--head-info2-data>input {
    max-width: 9rem;
    width: 9rem;
    border: none;
    text-align: left !important;
    margin-left: 2rem;
    color: var(--main-color);
    border: 1px dotted var(--main-color);
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
}

.payment__form--part2-head {
    width: 100%;
    padding: 1rem 4rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.payment__form--part2-head-customer {
    width: 30%;
}

.payment__form--part2-head-customer>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.payment__form--customer-data {
    overflow: visible !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 0.5rem;
}

.payment__form--customer-data-info {
    overflow: visible !important;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.payment__form--customer-data span {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
}

.payment__for--anticon-close {
    width: 0.7rem;
    color: #36BAA6;
    cursor: pointer;
}

.payment__table--customer-data {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    border: 1px solid #C9EFD8;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.payment__table--customer-data-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #C9EFD8;
}

.payment__table--customer-data-inof-head {
    padding: 0.5rem 0;
}

.payment__table--customer-data-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

.payment__form--part3-head {
    width: 100%;
    padding: 1rem 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
}

.payment__form--part3-head>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.payment__form--part3-head>span {
    font-size: 0.8rem;
    font-weight: 300;
}

.payment__form--part2-head-customer.second-select {
    width: 60%;
}

.payment__form--part2-head-customer .ant-select {
    margin-top: 0.5rem;
    width: 18rem !important;
}

.payment__form--part2-head-customer .ant-select .ant-select-selector {
    width: 100% !important;
    max-width: 18rem !important;
    border-radius: 0.25rem !important;
    border: 1px solid #C9EFD8 !important;
    -webkit-border-radius: 0.25rem !important;
    -moz-border-radius: 0.25rem !important;
    -ms-border-radius: 0.25rem !important;
    -o-border-radius: 0.25rem !important;
}

.payment__form--currency {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    gap: 1rem;
}

.payment__form--currency-conversion {
    display: flex;
    gap: 0.5rem;
}

.payment__form--currency-conversion>input {
    border: none;
    border-bottom: 1px solid #C9EFD8;
    width: 4rem;
    text-align: center;
}

.payment__form--part4-head-split {
    display: flex;
    flex-direction: row;
}

.payment__form--part4-head {
    width: 100%;
    padding: 0.5rem 4rem;
}

.payment__form--part4-head>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.payment__form--part4-head>textarea {
    margin: 0.5rem 0 0 0;
    padding-top: 0.3rem;
    border-radius: 0.25rem;
    border: 1px solid #C9EFD8;
    background: #FFF;
    color: black;
    font-size: 0.75rem;
    font-weight: 400;
}

.payment__form--part4-head-input,
.payment__form--part4-head>input:hover,
.payment__form--part4-head>input:focus,
.payment__form--part4-head>input:active {
    width: 16rem;
    max-width: 16rem;
    margin: 0.5rem 0 0 0;
    padding-top: 0.3rem;
    border-radius: 0.25rem;
    border: 1px solid #C9EFD8;
    background: #FFF;
    color: black;
    font-size: 0.75rem;
    font-weight: 400;
    box-shadow: none;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.payment__form--part4-head>textarea:hover,
.payment__form--part4-head>textarea:focus,
.payment__form--part4-head>textarea:active {
    box-shadow: none;
    margin: 0.5rem 0 0 0;
    border-radius: 0.25rem;
    border: 1px solid #C9EFD8;
    background: #FFF;
    color: black;
    font-size: 0.75rem;
    font-weight: 400;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.payment__form--part4-head>textarea::placeholder,
.payment__form--part4-head>input::placeholder {
    color: var(--gray);
}

.payment__form--part4-head .ant-input-disabled,
.payment__form--part4-head .ant-input-disabled:hover {
    background-color: #fff;
    color: var(--gray);
    border: 1px solid #C9EFD8;
    cursor: pointer;
}

.receipt-amount1 {
    width: 40%;
}
.receipt-amount2 {
    width: 60%;
    padding: 0.5rem 4rem 0.5rem 0;
}

.ant-select-selector {
    width: 8rem;
    padding: 0 1rem !important;
    max-width: 15rem;
    text-align: 'center';
    border-color: #C9EFD8 !important;
    border-radius: 0.25rem !important;
}

.bottom-margin-3 {
    margin-bottom: 3rem;
}

.bottom-padding-05 {
    padding-bottom: 0.5rem;
}

.margin-right-07 {
    margin-right: 0.7rem;
}

.payment__form--part4-head .ant-select-selector {
    width: 16rem !important;
    max-width: 16rem !important;
    overflow: hidden;
}


.payment__form--submit-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.payment__form--submit-btn>button {
    background-color: #3463AE;
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    margin: 0 1rem 2rem 0;
}

.payment__footer {
    background-color: #C9EFD8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
}

.payment__footer--text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.payment__items--sr {
    justify-content: center;
    margin-left: -0.2rem;
    cursor: pointer;
}

.payment--cancel-icon>img {
    width: 1rem;
}

.no_data_present {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    font-weight: 500;
}

@media only screen and (min-width: 1600px) {
    .payment__items--sr {
        margin-left: -1.2rem;
    }
}