.ant-modal-content {
    padding: 3rem !important;
}

.add__customer__modal--header {
    font-size: 1.5rem;
    font-weight: 500;
}

.add__customer__modal--form {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
}

.add__customer__modal--left {
    width: 50%;
}

.add__customer__modal--right {
    width: 50%;
}

.add__customer__modal--input,
.add__customer__modal--select {
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
}

.add__customer__modal--input>span,
.add__customer__modal--select>span {
    font-size: 0.8rem;
    font-weight: 500;
}

.add__customer__modal--select .ant-select {
    width: 80% !important;
    border-radius: 0.25rem;
    border: 1px solid #D0DAE9;
}

.add__customer__modal--select .ant-select .ant-select-selector {
    border: none;
}

.ant-select-selection-item {
    font-weight: 300 !important;
}

.add__customer__modal--input>input {
    border-radius: 0.25rem;
    border: 1px solid #D0DAE9;
    background: #FFF;
    display: flex;
    width: 80%;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    font-weight: 300;
}

.add__customer__modal--input .ant-input-group-wrapper {
    width: 80%;
    border: none
}

.ant-input-wrapper .ant-input,
.ant-input-group-wrapper .ant-input-wrapper {
    border-radius: 0.25rem;
    border: 1px solid #D0DAE9;
    color: black;
}

.add__customer__modal--checkbox {
    display: flex;
    gap: 0.5rem;
    margin: 1rem 0;
}

.add__customer__modal--btns {
    display: flex;
    width: 80%;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.add__customer__modal--btns a {
    display: flex;
    width: 45%;
    height: 3rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    color: white;
}

.add__customer__modal--cancel-btn {
    background-color: #CB214A;
}

.add__customer__modal--submit-btn {
    background: #3463AE;
}

.ant-modal-close-x .anticon-close {
    position: relative;
    left: 0;
}