.purchase__terms {
    max-width: 14rem !important;
    width: 14rem !important;
}

.layout__form--head-info2-data>select {
    max-width: 14rem;
    width: 14rem;
    border: none;
    text-align: left !important;
    margin-left: 2rem;
    color: var(--main-color);
    border: 1px dotted var(--main-color);
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
    background-color: white;
}

.layout__form--head-info2-data>select>option {
    font-family: 'Work Sans', sans-serif;
    color: var(--main-color);
    background-color: white;
}