/* Read Estimate Header */
.read__header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem 0;
}

.read__header--left {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.read__header--title {
    font-family: 'Work Sans', sans-serif;
    color: #36BAA6;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0625rem;
    padding-left: 0.75rem;
}

.read__header--back-btn {
    width: 1.5rem;
    cursor: pointer;
}

.read__header--right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.read__header--btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    width: max-content;
    max-width: max-content;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #3463AE;
    border: 2px solid #3463AE;
    overflow: hidden;
}

.read__header--btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    width: 8rem;
    max-width: 8rem;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    background-color: #3463AE;
    overflow: hidden;
}

.read__header--btn2>a {
    text-decoration: none !important;
    color: #fff !important;
}

/* Read Estimate Container */
.read__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.read--main {
    width: 70%;
    max-width: 60rem;
    margin-top: 4rem;
    background-color: var(--white);
}

.read__items {
    background-color: #ECF1F3;
    width: 100%;
    padding: 1.5rem 2rem;
}