.read__customer__header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem 0;
}

.read__customer__header--left {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.read__customer__header--title {
    font-family: 'Work Sans', sans-serif;
    color: #36BAA6;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0625rem;
    padding-left: 0.75rem;
}

.read__customer__header--back-btn {
    width: 1.5rem;
    cursor: pointer;
}

.read__customer__header--right {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}

.read__estimate__header--btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    width: 8rem;
    max-width: 8rem;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #3463AE;
    border: 2px solid #3463AE;
    overflow: hidden;
}

.read__customer__header--btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    width: 8rem;
    max-width: 8rem;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    background-color: #3463AE;
    overflow: hidden;
}

.read__customer__header--btn2>a {
    text-decoration: none !important;
    color: #fff !important;
}

.read__customer--main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 3rem 6rem;
}

.read__customer--header {
    font-size: 2.5rem;
    font-weight: 700;
}

.read__customer--tabs {
    padding: 1rem 0;
}






/* Customer Details */
.read__customer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.read__customer-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.read__customer--left {
    width: 40%;
}

.read__customer--right {
    width: 60%;
}

.read__customer--input,
.read__customer--select {
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
}

.read__customer--input>span,
.read__customer--select>span {
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
}

.read__customer--input>input {
    border-radius: 0.25rem;
    border: 1px solid #D0DAE9;
    background: #FFF;
    display: flex;
    width: 80%;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    font-weight: 300;
    color: black;
}

.read__customer--input>input::placeholder {
    color: black;
}

.read__customer-shipping {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem 0;
}

.read__customer-header {
    font-size: 1.1875rem;
    font-weight: 600;
}

.read__customer--shippingList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.read__customer--shipping-address {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    padding: 0.5rem 0;
}

.read__customer--shipping-address-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.read__customer--shipping-address-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.shipping-input,
.shipping-input>input,
.shipping-input>span {
    width: 100% !important;
}








/* Customer Transactions */
.read__customer--transaction {
    width: 90%;
    padding: 0.5rem 0;
}

.read__customer--transaction-collapse {
    width: 100%;
    padding: 1rem 0;
}
