.login__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin-top: 2rem;
    padding: 0 2rem 0;
}

.login__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__heading--main {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--main-color);
}

.login__heading--sub {
    width: 26rem;
    margin-top: 0.9rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--sub-color);
    line-height: 1.8rem;
    opacity: 50%;
    text-align: center;
}

.form__data--login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 23rem;
    padding-top: 1.5rem !important;
}

.login__form {
    padding: 0;
    width: 100%;
}

.login__tabs {
    display: flex;
    justify-content: space-evenly;
}

.tabs {
    padding: 0.6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background-color: var(--white);
    border: 1px solid var(--main-color);
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
}

.tabs.active {
    background: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    font-weight: bold;
}

.panel {
    display: none;
    padding: 1rem 0;
}

.panel.active {
    display: block
}

.login__form {
    width: 100%;
}

.login__form--input {
    display: flex;
    flex-direction: column;
}

.login__form--input>span {
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1rem 0 0.5rem 0;
    color: var(--blue);
}

.login__form--input>input {
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    color: var(--black);
    border: none;
    opacity: 0.4;
    border-bottom: 1px solid var(--light-blue);
}

input:focus {
    outline: none;
    opacity: 1;
    border-bottom: 1px solid var(--light-blue);
}

input::placeholder {
    color: var(--black);
    opacity: 1;
}

.phone__input {
    margin-bottom: 5.2rem;
}

.login__form--phone-number {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-blue);
}

.country__code {
    color: var(--main-color);
    font-weight: 600;
    background: none;
    border: none;
}

.country__code:focus {
    outline: none;
}

.phone__error--span {
    position: relative;
    color: red !important;
}

.login__form--phone-number>input {
    font-weight: 400;
    font-size: 1.125rem;
    border: none;
    color: var(--black);
    padding: 1rem 0.5rem;
}

.form__validation--login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 2rem 0;
}

.form__checkbox--login>span {
    padding: 0 0.5rem;
    color: var(--main-color);
}

.login__form--forgot>a {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.5;
    color: var(--black);
    text-decoration: none;
}

.login__form--button>button {
    width: 100%;
    height: 4rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.signup__link--login {
    width: 100% !important;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    line-height: 1.8rem;
    text-align: center;
}

.signup__link--login>p>a {
    color: var(--main-color);
    text-decoration: none;
}