/* Read Estimate Header */
.read__estimate__header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem 0;
}

.read__estimate__header--left {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.read__estimate__header--title {
    font-family: 'Work Sans', sans-serif;
    color: #36BAA6;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0625rem;
    padding-left: 0.75rem;
}

.read__estimate__header--back-btn {
    width: 1.5rem;
    cursor: pointer;
}

.read__estimate__header--right {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
}

.read__estimate__header--btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    width: 8rem;
    max-width: 8rem;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #3463AE;
    border: 2px solid #3463AE;
    overflow: hidden;
}

.read__estimate__header--btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    width: 8rem;
    max-width: 8rem;
    height: 2.5rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    background-color: #3463AE;
}












/* Read Estimate Container */
.read__estimate__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}

.read__estimate--main {
    width: 70%;
    max-width: 60rem;
    margin-top: 4rem;
    background-color: var(--white);
}

.read__estimate--top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
}

.read__estimate--head {
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.read__estimate--part1 {
    display: flex;
    flex-direction: column;
}

.read__estimate--part1-head {
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
}

.read__estimate--head-info1 {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.read__estimate--head-info1>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.read__estimate--head-info1>span {
    font-size: 0.8rem;
    font-weight: 300;
}

.read__estimate--head-info2 {
    display: flex;
    flex-direction: column;
}

.read__estimate--head-info2-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
}

.read__estimate--head-info2-data>span {
    font-size: 0.8rem;
    font-weight: 300;
}

.read__estimate--head-info2-data>p {
    border: none;
    /* text-align: left !important; */
    text-align: right !important;
    margin-left: 1rem;
    color: var(--main-color);
    padding: 0.2rem 0.5rem;
    width: 8rem;
    max-width: 8rem;
}

.read__estimate--part2-head {
    width: 100%;
    padding: 1rem 4rem 0;
    display: flex;
    gap: 0.4rem;
}

.read__estimate--part2-left {
    width: 30%;
}

.read__estimate--part2-right>h3,
.read__estimate--part2-left>h3 {
    font-size: 1.125rem;
    font-weight: 500;
    padding-bottom: 0.3rem;
}

.read__estimate--part3-head {
    width: 100%;
    padding: 1rem 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4rem;
}

.read__estimate--part3-head>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.read__estimate--customer-data {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.read__estimate--customer-data span {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: left;
}

.read__estimate--currency {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    gap: 1rem;
}

.read__estimate--select-currency {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 8rem;
    border: 1px solid #C9EFD8;
    border-radius: 0.25rem;
}

.read__estimate--select-currency>p {
    padding: 0.5rem 1rem !important;
}

.read__estimate--currency-conversion {
    display: flex;
    gap: 0.5rem;
}

.read__estimate--currency-conversion>p {
    border: none;
    width: max-content;
    text-align: center;
}

.read__estimate--part4-head {
    width: max-content;
    padding: 1rem 4rem 2rem;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.read__estimate--part4-head>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.read__estimate--part4-head>p {
    border-radius: 0.25rem;
    border: none;
    background: #FFF;
    color: black;
    font-size: 0.75rem;
    font-weight: 300;
    padding-top: 0.2rem;
}







/* Read Estimate Items */
.read__estimate__items {
    background-color: #ECF1F3;
    width: 100%;
    padding: 2rem 0 1.5rem;
}

.read__estimate__items--main {
    padding: 0.5rem 0;
    width: 100%;
}

.read__estimate__items--whole-item {
    display: flex;
    justify-content: space-between;
    align-items: 'first baseline';
    padding: 0 2rem;
    gap: 0.3rem;
}

.read__estimate__items--itemName,
.read__estimate__items--unitSelect,
.read__estimate__items--number-item,
.read__estimate__items--discount,
.read__estimate__items--tax,
.read__estimate__items--amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.read__estimate__items--tax p {
    text-align: left !important;
    width: 10rem;
    max-width: 10rem;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid #36BAA6;
    background: #FFF;
    color: #3463AE;
    font-size: 0.75rem;
    font-weight: 400;
    height: 2.3rem;
    max-height: 2.3rem;
    overflow: hidden;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.read__estimate__items--tax p .tax__amount {
    background: #FFF;
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    height: 2.1rem !important;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
    align-items: center;
}

.read__estimate__items--tax p .tax__rate__names {
    display: flex;
    align-items: center;
    background: #ECF1F3;
    border-left: 1px solid #36BAA6;
    padding-left: 0.5rem;
    color: black !important;
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    height: 2.1rem !important;
    text-align: right;
}

.read__estimate__items--tax .standard__tax-style .tax__amount {
    width: 70%;
}

.read__estimate__items--tax .non-standard__tax-style .tax__amount {
    width: 30%;
}

.read__estimate__items--tax .standard__tax-style .tax__rate__names {
    width: 30%;
}

.read__estimate__items--tax .non-standard__tax-style .tax__rate__names {
    width: 70%;
}

.read__estimate__items--itemName p,
.read__estimate__items--unitSelect p,
.read__estimate__items--number-item.qty p,
.read__estimate__items--number-item.rate p,
.read__estimate__items--discount p,
.read__estimate__items--amount p {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid #36BAA6;
    background: #FFF;
    color: #3463AE;
    font-size: 0.75rem;
    font-weight: 400;
    height: 2.3rem;
    max-height: 2.3rem;
}

.read__estimate__items--itemName p {
    padding: 0.2rem 0.5rem;
    text-align: left !important;
    width: 8rem;
    max-width: 8rem;
}

.read__estimate__items--amount p {
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
    display: flex;
    justify-content: flex-end;
    text-align: right !important;
    width: 7rem;
    max-width: 7rem;
}

.read__estimate__items--number-item.qty p,
.read__estimate__items--number-item.rate p {
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
    width: 6rem;
    max-width: 6rem;
}

.read__estimate__items--unitSelect p {
    padding: 0.2rem 2rem 0.2rem 0.5rem;
    text-align: left !important;
    width: 5rem;
    max-width: 5rem;
}

.read__estimate__items--discount p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
    border: 1px solid #36BAA6;
    background: #FFF;
    color: #3463AE;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0.2rem 0 0.2rem 0.5rem;
    text-align: left !important;
    width: 6rem;
    max-width: 6rem;
    overflow: hidden;
}

.read__estimate__items--discount p .discount__symbol {
    background-color: #ECF1F3;
    display: flex;
    align-items: center;
    border-radius: 0 0.25rem 0.25rem 0;
    border-left: 1px solid #36BAA6;
    color: #3463AE;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0.2rem 0.8rem;
    height: 2.3rem;
    max-height: 2.3rem;
}

.read__estimate__items--description {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.read__estimate--desc__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 2rem;
}

.read__estimate--desc__box>span {
    color: #000;
    font-family: 'Montserrat';
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 0.2rem;
}

.read__estimate--desc__box>p {
    border: none;
    border-bottom: 1px dotted black;
    background-color: transparent;
    margin-top: 0.5rem;
    color: #000;
    font-family: 'Montserrat';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
    width: 40%;
}

@media screen and (max-width: 1500px) {
    .read__estimate__items--tax p {
        padding: 0.2rem 0.2rem 0.2rem 0.5rem;
        width: 8.5rem;
        max-width: 8.5rem;
    }

    .read__estimate__items--itemName p,
    .read__estimate__items--unitSelect p,
    .read__estimate__items--number-item.qty p,
    .read__estimate__items--number-item.rate p,
    .read__estimate__items--discount p,
    .read__estimate__items--amount p {
        font-size: 0.7rem;
        height: 2rem;
        max-height: 2rem;
        overflow: hidden;
    }

    .read__estimate__items--itemName p {
        padding: 0.2rem 0.5rem;
        text-align: left !important;
        width: 6.5rem;
        max-width: 6.5rem;
    }

    .read__estimate__items--amount p {
        padding: 0.2rem 0.5rem;
        width: 5rem;
        max-width: 5rem;
    }

    .read__estimate__items--number-item.qty p,
    .read__estimate__items--number-item.rate p {
        padding: 0.2rem 0.5rem;
        width: 4rem;
        max-width: 4rem;
    }

    .read__estimate__items--unitSelect p {
        padding: 0.2rem 0.5rem;
        width: 3.5rem;
        max-width: 3.5rem;
    }

    .read__estimate__items--discount p {
        font-size: 0.7rem;
        width: 5.5rem;
        max-width: 5.5rem;
    }

    .read__estimate__items--discount p .discount__symbol {
        background-color: #ECF1F3;
        display: flex;
        align-items: center;
        border-radius: 0 0.25rem 0.25rem 0;
        border-left: 1px solid #36BAA6;
        color: #3463AE;
        font-size: 0.75rem;
        font-weight: 400;
        padding: 0.2rem 0.6rem;
        height: 2rem;
        max-height: 2rem;
    }
}









/* Read Estimate Bank Details */
.read__estimate--details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem 1rem;
}

.read__estimate--details--bank {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.estimte--details--bank-heading {
    color: #36BAA6;
    font-size: 1.5rem;
    font-weight: 500;
}

.read__estimate--details--split {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.read__estimate--details-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
}

.read__estimate--details-main {
    display: flex;
    margin: 0.5rem 0;
}

.read__estimate--details-left-head {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    width: 40%;
}

.read__estimate--details-left-head>span,
.read__estimate--details-left-info>span {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
}

.read__estimate--details-left-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
}

.read__estimate--details-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 40%;
    padding: 0;
}

.read__estimate--details-right-head {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.read__estimate--details-right-head>span {
    color: #36BAA6;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem;
}

.read__estimate--details-right-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.read__estimate--details-right-info>span {
    display: flex;
    color: #000;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    justify-content: flex-end;
}

.read__estimate--details-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem 1rem;
}

.read__estimate--details--tax-summary {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.estimte--details--tax-summary-heading {
    color: #36BAA6;
    font-size: 1.5rem;
    font-weight: 500;
}

.estimte--details--tax-summary-sub-heading {
    color: #000;
    font-weight: 300;
}

.read__estimate--details--table {
    margin: 0.5rem 0;
}

.tax-table {
    border-collapse: collapse;
    width: 100%;
}

.tax-table th,
.tax-table td {
    padding: 8px 0 8px 0;
    text-align: center;
}

.align__text__left {
    text-align: left !important;
}

.align__text__right {
    text-align: right !important;
}

.thin__table__font {
    color: #000;
    font-size: 0.9rem;
    font-weight: 300;
}

.bold__table__font {
    color: #000;
    font-size: 0.9rem;
    font-weight: 700;
}

.read__estimate--tnc-data {
    width: max-content;
    max-width: 100%;
    padding: 1rem 4rem 2rem;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    white-space: initial;
    word-wrap: break-word;
    word-break: break-all;
}

.read__estimate--tnc-data>h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.read__estimate--tnc-data>p {
    border-radius: 0.25rem;
    border: none;
    background: #FFF;
    color: black;
    font-size: 0.75rem;
    font-weight: 300;
    padding: 0;
    white-space: initial;
    word-wrap: break-word;
    word-break: break-all;
}

.read__estimate__footer {
    background-color: #C9EFD8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
}

.read__estimate__footer--text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}