@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

:root {
  --main-color: #36BAA6;
  --sub-color: #36BAA6;
  --black: #000;
  --white: #fff;
  --blue: #3463AE;
  --light-blue: #4EB7F2;
  --dark-blue: #03014C;
  --gray: #979696;
  --bg-gray: #F6F6F6;
  --light-gray: #D0DAE9;
}

.required__field::after {
  content: ' *' !important;
  color: red !important;
}